pad = 10px
indentValue = 2vw
color = #DCDCDC

body
	background-color #164B69
	font-size 14px
	font-family arial
	display flex
	align-items center
	justify-content center
	color black
	text-align center
	flex-direction column
	padding pad

	.centralBlock
		width 60%
		min-height 700px
		min-width 100px
		padding indentValue
		margin 0px
		background-color #E3E3E3
		display flex
		flex-direction column

		.menu-flex
			width 100%
			display flex
			flex-wrap nowrap
			justify-content space-evenly
			span
				background-color rgb(175, 175, 175)
				padding 5px 0
				//padding 5px;
			.menu-item
				//margin 0 5px
				line-height 25px
				a
					text-decoration none
					font-weight bold
					color black
					&:hover
						background-color grey
						padding 5px 0

	.gallery
		display flex
		justify-content space-between
		width 100%
		img
			overflow hidden
			margin 2% 1%
			width 100%
			height 100%
			border solid thin black

	.main-info-grid
		display grid
		grid-template-columns repeat(2, 1fr)
		grid-template-rows repeat(3, 1fr)
		justify-content space-evenly
		grid-gap 1%
		width 100%
		.left-block 
			/*display: inline-block;*/
			overflow hidden
			grid-area 1/1/4/2
			background-color rgb(255, 230, 162)
			border solid thin black
			padding 1%
		.right-block 
			/*display: inline-block;*/
			overflow hidden
			background-color rgb(255, 230, 162)
			border solid thin black
			padding 1%

	.bottom
		width 100%
		margin-top 1%
		padding 1% 0
		text-align center
		background-color rgb(190, 137, 72)
		border solid thin black


@media (max-width:600px)
	body
		style-cap(size)
			width 100%
			margin-top size
		.centralBlock
			width 100%
			padding indentValue
			margin @padding
			background-color #E3E3E3
			display flex
			flex-direction column
			align-items center

			.menu-flex
				flex-wrap wrap
				.menu-item
					width 100%

		.gallery 
			width 100%
			margin-top 30px
			display flex
			align-items center
			flex-direction column
			img 
				width 100%
				margin-bottom 10px

		.main-info-grid 
			style-cap(20px)
			grid-template-columns 1fr
			grid-template-rows 1fr repeat(3, 1fr)
			grid-row-gap 5px

@import video
@import text
@import images
@import textFlex