include title_names
block variables
doctype html
html
    head
        meta(charset="UTF-8")
        title #{title}
        link(rel="stylesheet", href= 'css/main.css')
    body
        .centralBlock
            include mixins
            +createMenu(title)
            block content